@model AppSettings
<div class="full-screen-container" style="background-color: @Model.BackgroundColor;">
    <div class="absolute-centered-element">@Model.Text in @ViewData["Environment"]</div>
</div>